<div class="home-box">
  <img src="/images/Astrolover-logo.png" alt="logo" class="logo">

  <h5>{{user.username}}´s profile</h5>
  <hr class="hr">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/dashboard/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/myPotentials">My Potentials</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/datelog">Datelog</a>
    </li>
  </ul>


  <div class="home-info">

    {{#if user.image_url}}
    <div class="img-box">
      <img style="width: 200px" src={{user.image_url}}>
    </div>
    {{/if}}


    <ul class="card-text">
      <h5 class="card-subtitle mb-2 text-muted">{{user.username}},{{user.dateOfBirth}}</h5>
      <li>{{user.horoscope}}</li>
      <li>{{user.occupation}}</li>
      <li>{{user.catchPhrase}}</li>


      <div class="btn-home">
        <form method="POST" action="/dashboard/profile/{{user._id}}">
          <button type="submit">Request date</button>
        </form>
      </div>
    </ul>
  </div>








</div>